body {
    font-family: 'Comic Neue', cursive;
    background: rgb(96, 226, 209);
    background: linear-gradient(90deg, rgba(96, 226, 209, 1) 15%, rgba(7, 250, 220, 1) 50%, rgba(95, 219, 203, 1) 84%);
    width: clamp(200px, 100%);
    height: 100vh;

}

.btn {
    font-family: 'Black Ops One', cursive;
}

.bg {
    background-color: #0F3EE2;
}

.shadow {
    font-family: 'Black Ops One', cursive !important;
    /*font-size: clamp(21px, 4vh, 28px);*/
    font-size: 21.5px;
    width: auto;
    border: solid orange 1px;
    border-radius: 50px;
    padding: 20px;
}

/*
	main {
    flex: 1 0 auto;
}Fixa o rodapé
*/




/*.form-group a {
    visibility: hidden;
    height: -5;
    font-size: x-small;
}*/

/* row linha 
s12 m4 l2 (small medium large)*/