body {
    font-family: 'Comic Neue', cursive;
    background-color: #9BE9DF;

}

.btn {
    font-family: 'Black Ops One', cursive;
}

.bg {
    background-color: #0F3EE2;
}

.shadow {
    font-family: 'Black Ops One', cursive !important;
}

/*
	Fixa o rodapé
*/


main {
    flex: 1 0 auto;
}

/*.form-group a {
    visibility: hidden;
    height: -5;
    font-size: x-small;
}*/

/* row linha 
s12 m4 l2 (small medium large)*/